<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Austin_HPI</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Date</th>
      <td>Value</td>
    </tr>
    <tr>
      <th>2018-09-30</th>
      <td>562450.0</td>
    </tr>
    <tr>
      <th>2018-08-31</th>
      <td>591450.0</td>
    </tr>
    <tr>
      <th>2018-07-31</th>
      <td>599000.0</td>
    </tr>
    <tr>
      <th>2018-06-30</th>
      <td>595000.0</td>
    </tr>
    <tr>
      <th>2018-05-31</th>
      <td>552500.0</td>
    </tr>
    <tr>
      <th>2018-04-30</th>
      <td>550000.0</td>
    </tr>
    <tr>
      <th>2018-03-31</th>
      <td>589900.0</td>
    </tr>
    <tr>
      <th>2018-02-28</th>
      <td>575000.0</td>
    </tr>
    <tr>
      <th>2018-01-31</th>
      <td>575000.0</td>
    </tr>
    <tr>
      <th>2017-12-31</th>
      <td>582000.0</td>
    </tr>
    <tr>
      <th>2017-11-30</th>
      <td>599000.0</td>
    </tr>
    <tr>
      <th>2017-10-31</th>
      <td>619450.0</td>
    </tr>
    <tr>
      <th>2017-09-30</th>
      <td>575000.0</td>
    </tr>
    <tr>
      <th>2017-08-31</th>
      <td>550000.0</td>
    </tr>
    <tr>
      <th>2017-07-31</th>
      <td>549000.0</td>
    </tr>
    <tr>
      <th>2017-06-30</th>
      <td>564715.0</td>
    </tr>
    <tr>
      <th>2017-05-31</th>
      <td>594000.0</td>
    </tr>
    <tr>
      <th>2017-04-30</th>
      <td>589450.0</td>
    </tr>
    <tr>
      <th>2017-03-31</th>
      <td>575000.0</td>
    </tr>
    <tr>
      <th>2017-02-28</th>
      <td>577450.0</td>
    </tr>
    <tr>
      <th>2017-01-31</th>
      <td>589000.0</td>
    </tr>
    <tr>
      <th>2016-12-31</th>
      <td>587000.0</td>
    </tr>
    <tr>
      <th>2016-11-30</th>
      <td>545000.0</td>
    </tr>
    <tr>
      <th>2016-10-31</th>
      <td>525000.0</td>
    </tr>
    <tr>
      <th>2016-09-30</th>
      <td>539000.0</td>
    </tr>
    <tr>
      <th>2016-08-31</th>
      <td>549000.0</td>
    </tr>
    <tr>
      <th>2016-07-31</th>
      <td>549900.0</td>
    </tr>
    <tr>
      <th>2016-06-30</th>
      <td>549900.0</td>
    </tr>
    <tr>
      <th>2016-05-31</th>
      <td>549000.0</td>
    </tr>
    <tr>
      <th>2016-04-30</th>
      <td>532445.0</td>
    </tr>
    <tr>
      <th>2016-03-31</th>
      <td>549900.0</td>
    </tr>
    <tr>
      <th>2016-02-29</th>
      <td>559000.0</td>
    </tr>
    <tr>
      <th>2016-01-31</th>
      <td>575000.0</td>
    </tr>
    <tr>
      <th>2015-12-31</th>
      <td>597000.0</td>
    </tr>
    <tr>
      <th>2015-11-30</th>
      <td>595000.0</td>
    </tr>
    <tr>
      <th>2015-10-31</th>
      <td>585000.0</td>
    </tr>
    <tr>
      <th>2015-09-30</th>
      <td>568500.0</td>
    </tr>
    <tr>
      <th>2015-08-31</th>
      <td>579700.0</td>
    </tr>
    <tr>
      <th>2015-07-31</th>
      <td>599900.0</td>
    </tr>
    <tr>
      <th>2015-06-30</th>
      <td>609900.0</td>
    </tr>
    <tr>
      <th>2015-05-31</th>
      <td>615000.0</td>
    </tr>
    <tr>
      <th>2015-04-30</th>
      <td>599450.0</td>
    </tr>
    <tr>
      <th>2015-03-31</th>
      <td>610000.0</td>
    </tr>
    <tr>
      <th>2015-02-28</th>
      <td>622500.0</td>
    </tr>
    <tr>
      <th>2015-01-31</th>
      <td>639000.0</td>
    </tr>
    <tr>
      <th>2014-12-31</th>
      <td>629000.0</td>
    </tr>
    <tr>
      <th>2014-11-30</th>
      <td>632500.0</td>
    </tr>
    <tr>
      <th>2014-10-31</th>
      <td>615000.0</td>
    </tr>
    <tr>
      <th>2014-09-30</th>
      <td>579000.0</td>
    </tr>
    <tr>
      <th>2014-08-31</th>
      <td>579000.0</td>
    </tr>
    <tr>
      <th>2014-07-31</th>
      <td>547000.0</td>
    </tr>
    <tr>
      <th>2014-06-30</th>
      <td>524900.0</td>
    </tr>
    <tr>
      <th>2014-05-31</th>
      <td>507450.0</td>
    </tr>
    <tr>
      <th>2014-04-30</th>
      <td>509900.0</td>
    </tr>
    <tr>
      <th>2014-03-31</th>
      <td>485000.0</td>
    </tr>
    <tr>
      <th>2014-02-28</th>
      <td>499000.0</td>
    </tr>
    <tr>
      <th>2014-01-31</th>
      <td>481500.0</td>
    </tr>
    <tr>
      <th>2013-12-31</th>
      <td>469700.0</td>
    </tr>
    <tr>
      <th>2013-11-30</th>
      <td>449900.0</td>
    </tr>
    <tr>
      <th>2013-10-31</th>
      <td>452850.0</td>
    </tr>
    <tr>
      <th>2013-09-30</th>
      <td>427000.0</td>
    </tr>
    <tr>
      <th>2013-08-31</th>
      <td>429000.0</td>
    </tr>
    <tr>
      <th>2013-07-31</th>
      <td>435000.0</td>
    </tr>
    <tr>
      <th>2013-06-30</th>
      <td>449900.0</td>
    </tr>
    <tr>
      <th>2013-05-31</th>
      <td>459000.0</td>
    </tr>
    <tr>
      <th>2013-04-30</th>
      <td>454700.0</td>
    </tr>
    <tr>
      <th>2013-03-31</th>
      <td>449000.0</td>
    </tr>
    <tr>
      <th>2013-02-28</th>
      <td>442800.0</td>
    </tr>
    <tr>
      <th>2013-01-31</th>
      <td>410000.0</td>
    </tr>
    <tr>
      <th>2012-12-31</th>
      <td>419000.0</td>
    </tr>
    <tr>
      <th>2012-11-30</th>
      <td>414990.0</td>
    </tr>
    <tr>
      <th>2012-10-31</th>
      <td>429000.0</td>
    </tr>
    <tr>
      <th>2012-09-30</th>
      <td>399000.0</td>
    </tr>
    <tr>
      <th>2012-08-31</th>
      <td>389900.0</td>
    </tr>
    <tr>
      <th>2012-07-31</th>
      <td>365000.0</td>
    </tr>
    <tr>
      <th>2012-06-30</th>
      <td>365000.0</td>
    </tr>
    <tr>
      <th>2012-05-31</th>
      <td>365000.0</td>
    </tr>
    <tr>
      <th>2012-04-30</th>
      <td>359000.0</td>
    </tr>
    <tr>
      <th>2012-03-31</th>
      <td>359900.0</td>
    </tr>
    <tr>
      <th>2012-02-29</th>
      <td>359000.0</td>
    </tr>
    <tr>
      <th>2012-01-31</th>
      <td>363450.0</td>
    </tr>
    <tr>
      <th>2011-12-31</th>
      <td>365000.0</td>
    </tr>
    <tr>
      <th>2011-11-30</th>
      <td>349949.5</td>
    </tr>
    <tr>
      <th>2011-10-31</th>
      <td>348000.0</td>
    </tr>
    <tr>
      <th>2011-09-30</th>
      <td>349949.5</td>
    </tr>
    <tr>
      <th>2011-08-31</th>
      <td>349949.5</td>
    </tr>
    <tr>
      <th>2011-07-31</th>
      <td>355000.0</td>
    </tr>
    <tr>
      <th>2011-06-30</th>
      <td>349900.0</td>
    </tr>
    <tr>
      <th>2011-05-31</th>
      <td>350000.0</td>
    </tr>
    <tr>
      <th>2011-04-30</th>
      <td>349000.0</td>
    </tr>
    <tr>
      <th>2011-03-31</th>
      <td>354900.0</td>
    </tr>
    <tr>
      <th>2011-02-28</th>
      <td>364900.0</td>
    </tr>
    <tr>
      <th>2011-01-31</th>
      <td>364900.0</td>
    </tr>
    <tr>
      <th>2010-12-31</th>
      <td>367250.0</td>
    </tr>
    <tr>
      <th>2010-11-30</th>
      <td>369700.0</td>
    </tr>
    <tr>
      <th>2010-10-31</th>
      <td>375000.0</td>
    </tr>
    <tr>
      <th>2010-09-30</th>
      <td>369000.0</td>
    </tr>
    <tr>
      <th>2010-08-31</th>
      <td>368092.0</td>
    </tr>
    <tr>
      <th>2010-07-31</th>
      <td>364900.0</td>
    </tr>
    <tr>
      <th>2010-06-30</th>
      <td>368092.0</td>
    </tr>
    <tr>
      <th>2010-05-31</th>
      <td>369450.0</td>
    </tr>
    <tr>
      <th>2010-04-30</th>
      <td>375000.0</td>
    </tr>
    <tr>
      <th>2010-03-31</th>
      <td>389900.0</td>
    </tr>
    <tr>
      <th>2010-02-28</th>
      <td>405000.0</td>
    </tr>
    <tr>
      <th>2010-01-31</th>
      <td>397000.0</td>
    </tr>
  </tbody>
</table>