/**
 * Minimalist Theme, v2.
 *
 */
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 1em;
  width: auto;
}
.cse .gsc-control-wrapper-cse,
.gsc-control-wrapper-cse {
  width: 100%;
}
.cse .gsc-branding,
.gsc-branding {
  display: none;
}
/* Selector for entire element. */
.cse .gsc-control-cse,
.gsc-control-cse {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.gsc-control-cse .gsc-table-result {
  font-family: Arial, sans-serif;
}
.cse .gsc-control-cse:after,
.gsc-control-cse:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.cse .gsc-branding-text,
.gsc-branding-text {
  color: #000000;
}
/**
 * Table cell containing the search input.
 * 12 pixels added to account for the horizontal padding on the input.
 */
.cse table.gsc-search-box td.gsc-input,
table.gsc-search-box td.gsc-input {
  padding-right: 12px;
}
.cse .gsc-search-box,
.gsc-search-box {
  border-collapse: collapse;
}
/* Search input */
.cse input.gsc-input,
input.gsc-input {
  font-family: inherit;
  font-size: 16px;
}
/* Hide clear input X added by MSIE. */
.gsc-input::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

.gsc-input-box {
  border: 1px solid #BBB;
  background: #fff;
}

.gsc-search-box .gsc-input>input:hover,
.gsc-input-box-hover {
  border: 1px solid #b9b9b9;
  border-top-color: #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  outline: none;
}
.gsc-search-box .gsc-input>input:focus,
.gsc-input-box-focus {
  border: 1px solid #BBB;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  outline: none;
}

/* Search button */
.cse .gsc-search-button-v2,
.gsc-search-button-v2 {
  font-size: 0px;
  padding: 6px 27px;
  width: auto;
  vertical-align: middle;

  border: 1px solid #000;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: 2px;

  border-color: #000;
  background-color: #333333;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#333333),to(#333333));
  background-image: -webkit-linear-gradient(top,#333333,#333333);
  background-image: -moz-linear-gradient(top,#333333,#333333);
  background-image: -ms-linear-gradient(top,#333333,#333333);
  background-image: -o-linear-gradient(top,#333333,#333333);
  background-image: linear-gradient(top,#333333,#333333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333',EndColorStr='#333333');
}
.cse .gsc-search-button-v2:hover,
.gsc-search-button-v2:hover {
  border-color: #000;
  background-color: #333333;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#333333),to(#333333));
  background-image: -webkit-linear-gradient(top,#333333,#333333);
  background-image: -moz-linear-gradient(top,#333333,#333333);
  background-image: -ms-linear-gradient(top,#333333,#333333);
  background-image: -o-linear-gradient(top,#333333,#333333);
  background-image: linear-gradient(top,#333333,#333333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333',EndColorStr='#333333');
}
.gsc-search-button-v2 svg {
  fill: #fff;
}
/* Firefox button fix */
button::-moz-focus-inner {
    padding: 0;
    border: 0
}

/* Base tab selector styles */
.cse .gsc-tabHeader,
.gsc-tabHeader {
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  padding: 2px 8px 0 8px;
}
/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
  background-color: #777777;
  border: 1px solid;
  border-color: #777777;
  border-bottom: none;
  color: #ffffff;
}
/* Active tab */
.cse .gsc-tabHeader.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhActive {
  background-color: #333333;
  border: 1px solid;
  border-color: #333333;
  border-bottom: none;
  color: #ffffff;
}

.gsc-refinementHeader {
  text-decoration: none;
  font-weight: bold;
  color: #444444;
}

.gsc-refinementHeader.gsc-refinementhActive {
  text-decoration: none;
  color: #DD4B39;
}

.gsc-refinementHeader.gsc-refinementhInactive {
  text-decoration: none;
  cursor: pointer;
}

.gsc-refinementHeader.gsc-refinementhInactive>span:hover {
  text-decoration: underline;
}

.gsc-refinementhActive>span {
  border-bottom: 3px solid;
  padding-bottom: 2px;
}

.gsc-refinementsArea {
  margin-top: 0;
  padding-bottom: 4px;
  padding-top: 10px;
}

/* Font size for refinements */
.gsc-tabsArea {
  font-size: 11px;
}
/* For searcher tabs */
.gsc-tabsArea > .gsc-tabHeader {
  height: 27px;
}
.gsc-tabsArea > div {
  height: 30px;
  overflow: auto;
}
/* No spacers needed for kennedy refinements */
.gsc-tabsArea .gs-spacer {
  display: none;
}
.gsc-tabsArea .gs-spacer-opera {
  display: none;
}
.gsc-tabsArea {
  margin-top: 12px;
  margin-bottom: 0;
  height: 29px;
  border-bottom: 1px solid #CCC;
}
/* Refinement tab properties */
.gsc-tabHeader {
  display: inline-block;
  padding: 0 8px 1px 8px;
  margin-right: 0px;
  margin-top: 0px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
}
/* Inner wrapper for an image result */
.gsc-imageResult-classic,
.gsc-imageResult-column {
  padding: 0 0 0 .5em;
  border-left: 1px solid;
  border-color: #ffffff;
  border-bottom: 0px solid;
  margin-bottom: 1em;
}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result.gsc-promotion:hover,
.gsc-results .gsc-imageResult-classic:hover,
.gsc-results .gsc-imageResult-column:hover {
  border-left: 1px solid;
  border-color: #000000;
  border-bottom: 0px solid;
}
/* Set link colors. */
.cse .gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link,
.cse .gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:link b,
.cse .gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited,
.cse .gs-webResult.gs-result a.gs-title:visited b,
.gs-webResult.gs-result a.gs-title:visited b,
.cse .gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover,
.cse .gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b,
.cse .gsc-cursor-page,
.gsc-cursor-page,
.cse .gsc-trailing-more-results:link,
.gsc-trailing-more-results:link,
.cse .gs-spelling a,
.gs-spelling a {
  color: #444444;
}
.cse .gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active,
.cse .gs-webResult.gs-result a.gs-title:active b,
.gs-webResult.gs-result a.gs-title:active b,
.gs-imageResult a.gs-title:active,
.gs-imageResult a.gs-title:active b {
  color: #777777;
}
/* Snippet text color */
.cse .gs-webResult .gs-snippet,
.gs-webResult .gs-snippet,
.gs-fileFormatType,
.gs-imageResult .gs-snippet {
  color: #333333;
}

/* Size text color */
.gs-imageResult .gs-size,
.gs-imageResult .gs-size {
  color: #333333;
}

/* Pagination container centered */
.cse .gsc-cursor-box,
.gsc-cursor-box {
  border-top: 1px dotted;
  border-color: #333333;
  padding: .5em 0 0 .5em;
}
/*Promotion Settings*/
/* The entire promo */
.cse .gsc-webResult.gsc-result.gsc-promotion,
.gsc-webResult.gsc-result.gsc-promotion {
  background-color: #E6E6E6;
  border-color: #CCCCCC;
}
.gsc-result-info {
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px;
  padding-bottom: 10px;
}
.gs-promotion-text-cell .gs-visibleUrl,
.gs-promotion-text-cell .gs-snippet {
  font-size: 13px;
}

.gsc-table-result,
.gsc-thumbnail-inside,
.gsc-url-top {
  padding-left: 8px;
  padding-right: 8px;
}

.gs-promotion-table {
  margin-left: 8px;
  margin-right: 8px;
}

.gs-promotion table {
  padding-left: 8px;
  padding-right: 8px;
}

table.gs-promotion-table-snippet-with-image{
  padding-left: 0;
  padding-right: 0;
}

.gs-promotion-text-cell {
  margin-left: 8px;
  margin-right: 8px;
}

.gs-promotion-text-cell-with-image {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

/* Promotion links */
.cse .gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link,
.cse .gs-promotion a.gs-title:link *,
.gs-promotion a.gs-title:link *,
.cse .gs-promotion .gs-snippet a:link,
.gs-promotion .gs-snippet a:link {
  color: #0000CC;
}
.cse .gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited,
.cse .gs-promotion a.gs-title:visited *,
.gs-promotion a.gs-title:visited *,
.cse .gs-promotion .gs-snippet a:visited,
.gs-promotion .gs-snippet a:visited {
  color: #0000CC;
}
.cse .gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover,
.cse .gs-promotion a.gs-title:hover *,
.gs-promotion a.gs-title:hover *,
.cse .gs-promotion .gs-snippet a:hover,
.gs-promotion .gs-snippet a:hover {
  color: #444444;
}
.cse .gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active,
.cse .gs-promotion a.gs-title:active *,
.gs-promotion a.gs-title:active *,
.cse .gs-promotion .gs-snippet a:active,
.gs-promotion .gs-snippet a:active {
  color: #00CC00;
}
/* Promotion snippet */
.cse .gs-promotion .gs-snippet,
.gs-promotion .gs-snippet,
.cse .gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right,
.cse .gs-promotion .gs-title .gs-promotion-title-right *,
.gs-promotion .gs-title .gs-promotion-title-right * {
  color: #333333;
}
/* Promotion url */
.cse .gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl {
  color: #00CC00;
}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
.gsc-completion-selected {
  background: #eee;
}
.gsc-completion-container {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: white;
  border: 1px solid #BBB;
  margin-left: 0;
  margin-right: 0;
  /* The top, left, and width are set in JavaScript. */
}
.gsc-completion-title {
  color: #0000CC;
}
.gsc-completion-snippet {
  color: #333333;
}

/* Full URL */
.gs-webResult div.gs-visibleUrl-short,
.gs-promotion div.gs-visibleUrl-short {
  display: none;
}
.gs-webResult div.gs-visibleUrl-long,
.gs-promotion div.gs-visibleUrl-long {
  display: block;
}

.gsc-rating-bar {
  display: inline-block;
  width: 54px;
  height: 10px;
  background: transparent url(/cse/images/cse_snippets_stars.png) -52px -52px no-repeat;
  margin: 3px 0 0 0;
}

.gsc-rating-bar span {
  display: inline-block;
  height: 10px;
  background: transparent url(/cse/images/cse_snippets_stars.png) 0 -52px no-repeat;
  padding: 4px 0 0 0;
}

.gsc-reviewer {
  color: #222;
}

.gsc-author {
  color: #222;
}

.gsc-table-cell-thumbnail,
.gs-promotion-image-cell {
  padding: 0 0 0 6px;
}

.gsc-option-menu-item-highlighted {
  background-color: #eee;
}

/* Kennedy shows url at the top of the snippet, after title */
.gsc-url-top {
  display: block;
}

.gsc-url-bottom {
  display: none;
}

/* Kennedy shows thumbnail inside the snippet, under title and url */
.gsc-thumbnail-left {
  display: none;
}

.gsc-thumbnail-inside {
  display: block;
}

.gsc-result .gs-title {
  height: 1.2em;
}

.gs-result .gs-title,
.gs-result .gs-title * {
  color: #15C;
}

.gs-result a.gs-visibleUrl,
.gs-result .gs-visibleUrl {
  color: #000000;
  text-decoration: none;
  padding-bottom: 2px;
}

.gsc-results .gsc-cursor-box {
  margin: 10px;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  text-decoration: none;
  color: #333333;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page:hover {
  text-decoration: underline;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  color: #222;
}

.gsc-preview-reviews,
.gsc-control-cse .gs-snippet,
.gsc-control-cse .gs-promotion em,
.gsc-control-cse .gs-snippet,
.gsc-control-cse .gs-promotion em {
  color: #333;
}

.gsc-control-cse-zh_CN .gs-snippet b,
.gsc-control-cse-zh_CN .gs-promotion em,
.gsc-control-cse-zh_TW .gs-snippet b,
.gsc-control-cse-zh_TW .gs-promotion em {
  color: #C03;
}

.gsc-snippet-metadata,
.gsc-role,
.gsc-tel,
.gsc-org,
.gsc-location,
.gsc-reviewer,
.gsc-author {
  color: #666;
}

.gsc-wrapper.gsc-thinWrapper {
  border-right: 1px solid #e9e9e9;
}

.gs-spelling {
  color: #333;
  padding-left: 7px;
  padding-right: 7px;
}

.gs-snippet {
  margin-top: 1px;
}

div.gsc-clear-button {
  background-image: url('//www.google.com/cse/static/css/v2/clear.png');
}

div.gsc-clear-button:hover {
  background-image: url('//www.google.com/cse/static/css/v2/clear-hover.png');
}

.gsc-preview-reviews ul {
  padding-left: 0;
  padding-right: 0;
}

.gsc-completion-container .gsc-completion-icon-cell {
  width: 42px;
  height: 42px;
  padding-right: 10px;
}

.gsc-branding-text, .gcsc-branding-text {
  color: #666;
}

.gcsc-branding {
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.gsc-adBlock {
  padding-bottom: 5px;
}

.gsc-table-cell-snippet-close,
.gsc-table-cell-snippet-open {
  padding-left: 0;
  padding-right: 0;
}

.gsc-selected-option-container {
  background-color: whiteSmoke;
  background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
  background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
  background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
  background-image: -ms-linear-gradient(top,whiteSmoke,#F1F1F1);
  background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
}

/* Facet box css */
.gsc-context-box {
  font-size: 83%;
  margin-top: 3px;
  border-collapse: collapse;
}

.gsc-context-box .gsc-col {
  padding:1px 0;
  white-space: nowrap;
  vertical-align: middle;
}

.gsc-context-box .gsc-facet-label {
  width: 65px;
  padding-left: 2px;
  text-decoration: underline;
  color: #333333;
  cursor: pointer;
}

.gsc-context-box .gsc-chart {
  width: 32em;
  padding: 3px;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
}

.gsc-context-box .gsc-top {
  border-top: 1px solid #777777;
}

.gsc-context-box .gsc-bottom {
  border-bottom: 1px solid #777777;
}

.gsc-context-box .gsc-chart div {
  background: #777777;
  height: 9px;
}

.gsc-context-box .gsc-facet-result {
  color: #333333;
  width: 30px;
  text-align: right;
  padding-right: 5px;
}

/* Universal one box css. */
.gsc-usr-group-thumbnail {
  display: inline-block;
  max-width: 72px;
  max-height: 72px;
}
.gsc-usr-group-thumbnail img {
  max-height: 72px;
  overflow: hidden;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading {
  color: #333333;
  cursor: pointer;
}
.gsc-usr-group {
  min-height: 100px;
  zoom: 1;
  display: block;
  line-height: 1.24;
  margin-top: -7px;
  margin-bottom: -7px;
  margin-left: 20px;
}
.gsc-usr-group-content {
  padding-top: 1px;
  padding-bottom: 3px;
}
.gsc-usr-group-content-thumbnail {
  display: inline-block;
  vertical-align: top;
}
.gsc-usr-group-head-result {
  display: inline-block;
  padding-left: 6px;
}
.gsc-usr-group-snippet {
  width: 100%;
  height: 3.6em;
  overflow: hidden;
}
.gsc-usr-group-content-results {
  font-size: 12px;
  padding-left: 1px;
  width: 80%;
  padding-top: 7px;
}
.gsc-usr-group-head-results {
  display:inline-block;
  font-size: 13px;
  padding-left: 6px;
  width: 80%;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results {
  font-size: 11px;
  line-height: 10px;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results
b {
  font-size: 14px;
  font-weight: 600;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading
b {
  color: #333333;
}

.gcsc-find-more-on-google {
  color: #444444;
}

.gcsc-find-more-on-google-magnifier {
  fill: #444444;
}
