/*
 * nature.css_t
 * ~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- nature theme.
 *
 * :copyright: Copyright 2007-2010 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */
/* @import url("minimalist.css") /\* google custom search *\/ */
@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

div.header-wrapper {
    background-color: #ffffff;
    max-width: 1024px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
}

ul.horizontal, ul.horizontal li {
    display: inline;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}


div.header {
    /* Don't leave a fixed height. It won't allow the header to expand when search results appear. */
}


p.logo {
    margin-top: auto;
    margin-left: 20px;
    float: left;
    margin: 0 0 0 20px;
    height: 50px;
}

span.legend {
    font-family: Verdana;
    font-size: 15px;
    position: relative;
    left: -35px;
    top: -3px;
}

div.navbar {
    padding-top: 15px;
    margin-left: 200px;
}

div.navbar ul {
    background-color: #ff9c34;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    list-style: none;
}

div.navbar ul, div.navbar li {
    display: inline;
    list-style: none;
    padding: 4px 10px 5px 10px;
}

div.navbar ul li a,
div.navbar ul li a:link,
div.navbar ul li a:visited,
div.navbar ul li a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

div.navbar ul li a:hover {
    color: #EEE;
}

div.navbar div.nav-icon a,
div.navbar div.nav-icon a:link,
div.navbar div.nav-icon a:visited,
div.navbar div.nav-icon a:hover {
    color: white;
    text-decoration: none;
}
div.navbar div.nav-icon {
    display: none;
}
/* Nav bar collapses for mobile phones and shows the hamburger */
@media screen and (max-width: 680px) {
    div.header {
      height: 60px;
    }
    div.navbar div.nav-icon {
        position: absolute;
        display: inline-block;
        right: 0;
        top: 12px;
        margin-right: 10px;
        background: #ff9c34;
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 10;
    }
    div.navbar ul li {
        display: none;
    }
    div.navbar ul {
        visibilty: hidden;
        background: #FFFFFF;
    }
    div.navbar.responsive > ul li.btn-li {
        margin-left: 6px;
    }
    div.navbar.responsive > ul li.btn-li + li {
        margin-top: -5px;
    }
    div.navbar.responsive > ul {
        visiblity: visible;
        position: absolute;
        right: 0;
        top: 10px;
        margin-right: 10px;
        background: #ff9c34;
        z-index: 9;
    }
    div.navbar.responsive > ul li {
        display: flex;
        justify-content: flex-start;
        visibility: visible;
        width: 130px;
    }
    div.navbar .dropdown-menu li {
        white-space: normal;
    }
    div.navbar div.nav-icon .hamburger-line {
        background: white;
        width: 20px;
        height: 2px;
        margin-bottom: 5px;
        -webkit-transition: .1s ease-in-out;
        -moz-transition: .1s ease-in-out;
        -o-transition: .1s ease-in-out;
        transition: .1s ease-in-out;
    }
    div.navbar div.nav-icon .hamburger-line:nth-child(1) {
        margin-top: 5px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    div.navbar div.nav-icon .hamburger-line:nth-child(2) {
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    div.navbar div.nav-icon .hamburger-line:nth-child(3) {
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    div.navbar.responsive div.nav-icon .hamburger-line:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    div.navbar.responsive div.nav-icon .hamburger-line:nth-child(2) {
        width: 0;
        opacity: 0%;
    }
    div.navbar.responsive div.nav-icon .hamburger-line:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

/*-------------------------------------------------------------*/
/* The next few elements have to do with the gsc (referring to */
/* Google's custom search bar */

.gsc-input {
    width: 180px;
    float: right;
}

.search_form {
    margin-top: -40px;
    min-height: 42px;
}

#cse .gsc-clear-button {
    width: 50px;
    position: relative;
    top: -2px;
}

.gsc-branding {
    display: none !important;
}

form.gsc-search-box {
    padding: 0 !important;
}

input.gsc-search-button {
    position: relative;
    top: -4px;
    border-radius: 5px !important;
    border-color: #FFFFFF !important;
    background-color: #ff9c34 !important;
}

a.gs-title, a.gs-title > b{
    color: blue !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: white !important;
    background-color: #ff9c34 !important;
    color: white !important;
}

/*---------------------------------------------------------------*/

.quote {
    text-align: right;
    line-height: 1.5em;
    font-style: italic;
    margin: 2em 3em 1em 3em;
}

div.content-wrapper {
    background-color: #ffffff;
    color: #1D1F22;
    max-width: 1024px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    -moz-border-radius: 15px;
    position: relative;
}

div.content {
    z-index: 1;
    position: relative;
    background-color: #FFF;
    padding-left: 15px;
}

div.example_digits {
    max-width: 700px;
    font-size: 85%;
}


div.document {
    padding-left: 240px;
    padding-right: 20px;
}

hr {
   border: 1px solid #B1B4B6;
}


div.body {
    font-size: 0.9em;
    margin: 10px;
}

div.footer {
    color: #999;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 75%;
}

div.footer a {
    color: #999;
    text-decoration: underline;
}

div.related {
    background-color: #6BA81E;
    line-height: 32px;
    color: #fff;
    text-shadow: 0px 1px 0 #444;
    font-size: 0.9em;
}

div.related a {
    color: #E2F3CC;
}


div.sphinxsidebar h3,
div.sphinxsidebar h4 {
    padding: 5px 10px;
    background-color: #CDE8EF;
    font-weight: normal;
    color: white;
    margin: 0;
    margin-right: 10px;
    border-radius: 4px;
}

div.sphinxsidebar h3 a,
div.sphinxsidebar h4 a{
    color: white;
}

div.sphinxsidebar img {
    margin: 5px;
}


div.sphinxsidebar p {
    padding: 0px 20px;
}

div.sphinxsidebar p.topless {
}

div.sphinxsidebar ul {
    margin: 10px 0px;
    padding: 0;
    color: #000;
    font-weight: bold;
}

div.sphinxsidebar ul ul {
    margin-right: 0;
    margin-left: 0;
    list-style: none;
    color: #355F7C;
    font-weight: normal;
}

div.sphinxsidebar ul ul ul {
    font-size: 90%;
    list-style: square;
    margin-left: 15px;
}

div.sphinxsidebar {
    width: 210px;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background-color: inherit;
    border-top-left-radius: 15px;
    -moz-border-radius:15px;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    margin-top: 0;
    position: absolute;
}

div.sphinxsidebar h3 {
    text-align: left;
    font-size: 16px;
}

div.sphinxsidebar ul {
    list-style: none;
}

div.sphinxsidebar {
    font-size: 80%;
    line-height: 1.5em;
}

div.sphinxsidebarwrapper {
    padding: 0 0 0 0;
    width: 199px;
}


/* for collapsible sidebar */
.nav-trigger {
    position: fixed;
    clip: rect(0, 0, 0, 0);
}

.nav-trigger + label:after {
    content: '»';
}

label[for="nav-trigger"] {
    position: fixed;
    margin-left: 0px;
    padding-top: 100px;
    z-index: 2;
    width: 15px;
    height: 80%;
    cursor: pointer;
    background-size: contain;
    background-color: #F6F6F6;
    border-radius: 10px 0px 0px 10px;
}

label[for="nav-trigger"]:hover {
    background-color: #D0D0D0;
}

.nav-trigger:checked + label {
    margin-left: 200px;
}

.nav-trigger:checked + label:after {
    content: '«';
}

.nav-trigger:checked ~ div.content {
    margin-left: 200px;
}
.nav-trigger + label, div.content {
    transition: left 0.4s;
}


div.buttonPrevious, div.buttonNext {
    display: block;
    background-color: #A7D6E2;
    color: black;
    padding: 7px 10px 5px 10px;
    position: fixed;
    bottom: 0;
}

div.buttonPrevious {
    border-top-right-radius: .8em;
    left: 0;
}

div.buttonNext {
    border-top-left-radius: .8em;
    right: 0;
}


input {
    border: 1px solid #ccc;
    display: inline-block;
    text-shadow: none;
    font-family: Arial;
    font-size: 1em;
    padding: 3px;
}

div.sphinxsidebar input[type=text]{
    margin-left: 20px;
}

/* -- body styles ----------------------------------------------------------- */

a {
    color: #2878A2;
    text-decoration: none;
    word-wrap: break-word;
}

a:hover {
    color: #055781;
    text-decoration: underline;
}

div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: Arial, sans-serif;
    background-color: #BED4EB;
    font-weight: normal;
    color: #212224;
}

div.body h1,
div.body h2,
div.body h3 {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    word-wrap: break-word;
}

div.body h2,
div.body h3 {
    text-align: left;
}

div.bodywrapper {
    margin: 0 0 0 0;
}


div.bodywrapper h1 {
    margin: 0 -10px 0 -10px;
    text-align: center;
    background-color: #cde8ef;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 190%;
    border-radius: 0 15px 0 15px;
    -moz-border-radius: 0 15px 0 15px;
}

div.body h3 {
    font-size: 120%;
    background-color: #eee;
    padding: 5px;
    border-radius: 10px;

}
div.body h4 { font-size: 110%; background-color: #F4F4F4; }
div.body h5 { font-size: 100%; background-color: #F4F4F4; }
div.body h6 { font-size: 100%; background-color: #F4F4F4; }

a.headerlink {
    color: #c60f0f;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}

div.body p, div.body dd, div.body li {
    line-height: 1.5em;
}

div.admonition p.admonition-title + p, div.deprecated p {
    display: inline;
}

div.highlight{
    background: none;
}

div.highlight a {
    text-decoration: underline;
}

div.highlight:hover span.copybutton {
    background-color: #3F556B;
}

div.highlight:hover span.copybutton:hover {
    background-color: #20252B;
}

@media (min-width: 1060px) {
    div.highlight:hover span.copybutton:after{
	background: #3F556B;
	border-radius: 5px;
	color: white;
	content: attr(title);
	left: 110%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 140px;
	top: -10px;
    }
}


div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

div.seealso {
    background-color: #FFFBE8;
    border: 1px solid #fbeed5;
    color: #AF8A4B;
}

div.topic {
    background-color: #eee;
    border: 1px solid #CCC;
    margin: 10px 0px;
    padding: 7px 7px 0px;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

div.admonition, div.deprecated {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

div.warning, div.deprecated {
    color: #b94a48;
    background-color: #F3E5E5;
    border: 1px solid #eed3d7;
}

div.green {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

pre {
    padding: 10px;
    background-color: #f8f8f8;
    color: #222;
    line-height: 1.2em;
    border: 1px solid #ddd;
    margin: 1.5em 0 1.5em 0;
}

div.highlight-python pre {
    overflow-y: hidden;
}

.align-center {
    /* override default value clear: both,
       it conflicts with the left sidebar */
    clear: right !important;
}

tt, code {
    background-color: #ecf0f3;
    color: #222;
    /* padding: 1px 2px; */
    font-size: 1.1em;
    font-family: monospace;
    border: none;
    padding: none;
}

a tt {
	color: inherit;
}


a code {
    color: inherit;
}

.viewcode-back {
    font-family: Arial, sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

div.rel {
    text-align: center;
    margin-right: 10px;
    background-color: #ff9c34;
    color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

div.rel div.spacer {
    background-color: white;
    width: 1px;
    height: 57px;
    display: inline-block;
    margin-bottom: -10px;
}

div.rel div.rellink {
    display: inline-block;
    padding: 4px 2px 0px 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 27%;
    vertical-align: top;
    position: relative
}

div.rellarge div.rellink {
    width: 40%;
    margin-bottom: 0px;
}

div.rellarge div.spacer {
    height: 45px;
}


div.rel {
    margin-bottom: 10px;
}

div.rel a,
div.rel a:link,
div.rel a:visited,
div.rel a:hover {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

div.rel a:hover {
    color: #EEE;
}

div.rel span.smallrellink {
    font-size: 8px;
    line-height: 10px;
}

div.rel span.hiddenrellink {
    display: none;
    z-index: 100;
}

div.rellink:hover span.hiddenrellink {
    display: block;
    position: absolute;
    left: -20px; top: 30px;
    width: 200px;
    background-color: #ff9c34;
    padding: 3px;
    border: 2px solid #1D1F22;
    color: white;
}

th.field-name {
    white-space: nowrap;
}


/* -------- warning header for old versions --------------------------------*/

div.warning-wrapper {
    background-color: #ffaaaa;
    max-width: auto;
    text-align: center;
}
div.warning-wrapper p {
    margin: 0;
}


/*-----------------------The Code Sprint Sponsor Banner---------------------*/

div.sprint-wrapper {
    font-weight: bold;
    font-size: 110%;
    padding: 5px;
    margin: 7px 7px 3px 7px;
    background-color: #FFC588;
    border-radius: 15px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

div.sprint-wrapper a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

div.sprint-wrapper p {
    padding: 0px 0px 0px 2px;
    font-weight: initial;
}

div.sprint-wrapper:hover {
    background-color: #FF9C34;
}

/*-----------------------The Examples Gallery-------------------------------*/

div.sphx-glr-footer .container  {width: auto;}

/* ------- Zoom plots to make them fit in layout -------------------------- */
div.body img.align-center {
    max-width:805px;
}

/* ------- alternating colors in table rows -------------------------- */
table.docutils tr:nth-child(even) {
    //background-color: #F3F3FF;
    background-color: #FDFDFD;

}
table.docutils tr:nth-child(odd) {
    //background-color: #FFFFEE;
    background-color: #F0F7FA;
}

table.docutils tr {
    border-style: solid none solid none;
    border-width: 1px 0 1px 0;
    border-color: #ddd;
}

table.docutils td {
    border-color: #ddd;
}

/* ------- tighter layout in pre -------------------------- */
pre {
    padding: 5px 10px 5px 10px;
    margin: .1em 0 .5em 0;
}

div.body p {
    margin-top: 1.2em;
    margin-bottom: .1em;
}

.float-right {
  float: right;
}

span.example-links {
  width: 100%;
  margin-right: 20px;
  padding-right: 15px;
  display: block;
}

/* --- New frontpage ------------------------------------------------------- */

div.banner-container {
  width:100%;
  background-color: #3499CD;
  min-height: 229px;
}

div.banner-inner {
  max-width:1024px;
  margin-left:auto;
  margin-right:auto;
  padding:20px 0px;
}

div.banner-container h1 {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}

div.banner-container h2 {
  font-size: 17px;
  font-style: italic;
  font-weight: normal;
  color: white;
  margin-top: -5px;
}

div.container.index-upper {
    width: 100%;
}

div.container.index-lower {
    width: 100%;
    margin-top: 40px;
    background-color: #F8F8F8;
    color: #222;
    border: 1px solid #DDD;
    padding: 10px;
    border-radius: 4px;
}

div.container.index-lower .span4, div.container.index-lower .span8, div.container.index-lower .span6 {
    padding-left: 5px;
}

div.container.index-lower h4,  div.container.index-lower h4 a{
    color: #FF9C34;
}

div.container.index-lower h4 {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: transparent;
}

div.container.index-lower ul {
    list-style-type: none;
    margin-left: 0;
}

div.container.index-lower ul li {
    margin-bottom: 8px;
    line-height: 1.3em;
}

div.container.index-lower ul li em {
    font-style: normal;
    font-weight: bold;
}

#paypal-form {
    margin: 30px 0;
    padding: 0;
}

div.container.index-lower a.cite-us {
    margin-left: 60px;
    padding-right: 20px;
    padding-left: 20px;
}

div.box h2 {
    height: 26px;
    background-color: transparent;
    padding: 0px;
}

div.box h2 p {
    margin: 0;
    padding: 0;
    display: inline;
}

div.box h2 p em {
    font-style: normal;
}

div.box blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

div.body h1.no-bg, div.body h2.no-bg, div.body h3.no-bg, div.body h4.no-bg {
    background-color: transparent;
}

div.body h2.no-bg, div.body h3.no-bg{
    padding: 0px 0px 0px 20px;
}

div.box-links {
    margin-top: 8px;
}

div.box-links p {
    display: inline;
}

div#examples_carousel {
    margin-bottom: 0px;
}

div.carousel>.carousel-inner>.item {
  width: 100%;
  margin: auto;
}


div.carousel img {
    max-height: 70px;
    background-color: #fff;
    margin: auto;
}

div#testimonials_carousel img {
    max-width: 50%;
}

div#testimonials_carousel {
    height: 120px;
}


div#examples_carousel img {
    max-height: 201px;
    height: 186px;
    background-color: #fff;
    margin: 10px auto;
}

div#examples_carousel .carousel-indicators {
    position: absolute;
    top: 200px;
    right: 26%; # Should be adjusted as the number of elements grows
}

div#examples_carousel .carousel-indicators .active {
    background-color: #0F72F0;
}

div#examples_carousel .carousel-indicators li {
    background-color: rgba(52, 147, 235, 0.25);
}

div#examples_carousel .carousel-control {
    top: 203px;
    left: 1px;
    width: 25px;
    height: 25px;
    font-size: 37px;
    line-height: 19px;
    background: rgba(28, 140, 245, 0.38);
}

div#examples_carousel .carousel-control.right {
    left: auto;
    right: 2px;
}

div#intro_to_sklearn_p li {
    line-height: 22px;
}

div#index_carousel_tn {
    height: 216px;
    width: 380px;
    max-width: 130%;
    background: white;
    padding: 0px;
}

p.doc-version {
    text-align: center;
    color: #b94a48;
    background-color: #F3E5E5;
    border: 1px solid #eed3d7;
    border-radius: 4px;
    margin-right: 10px;
}

p.citing {
    background-color: #FFFBE8;
    border: 1px solid #fbeed5;
    color: #AF8A4B;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
}

.field-odd, .field-even {
    background-color: #fff;
}

.field-name {
    background-color: #F0F7FA;
}

.field-body {
    background-color: #fff;
}

dl.class > dt, dl.function > dt, dl.method > dt {
    padding: 10px;
    background-color: #f8f8f8;
    color: #222;
    line-height: 1.2em;
    border: 1px solid #ddd;
    margin: 1.5em 0 1.5em 0;
    border-radius: 4px;
    font-weight: normal;
}

table.docutils.citation, table.docutils.footnote  {
    border-left: 0;
    margin-left: 0;
    border: 0;
}

table.docutils.citation td, table.docutils.citation tr, table.docutils.footnote td, table.docutils.footnote tr{
    border: 0;
    background-color: transparent;
}

table.docutils.citation tr td.label, table.docutils.footnote tr td.label {
    font-size: 0.9em;
    background-color: transparent;
    border-radius: 0px;
    color: #1D1F22;
    text-shadow: none;
}

/*----- testimonials ----------*/

div.testimonial h2 {
    background-color: transparent;
    color: #008EB2;
    height: 26px;
    line-height: 1.1em;
    font-size: 22px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}


div.logo {
    float: left;
    width: 200px;
}

div.logo img {
  max-width: 150px;
  max-height: 150px;
}

div.testimonial p {
    line-height: 1.5em;
    font-size: 1.1em;
    color: #1c1c1c;
    padding-left: 230px;
}

div.testimonial span.testimonial-author {
    width: 100%;
    text-align: right;
    margin-bottom: 30px;
}

div.testimonial span.testimonial-author p{
    font-size: 0.8em;
    font-style: italic;
    color: #808080;
}

#index-funding-logo-big {
    padding: 0 7px 7px 7px;
    max-height: 40px
}

#index-funding-logo-small {
    padding: 0 7px 7px 7px;
    max-height: 24px
}

.no-display {
  display: none;
}

.btn-group {
    height: 100%;
}

.btn-group .dropdown-menu {
  margin: 0;
  display: none;
  z-index: 1000;
  background-color: #fff;
  font-weight: normal;
  min-width: 100px;
  padding: 5px 10px;
}

.btn-group.open .dropdown-menu {
  display: block;
}

div.navbar ul.dropdown-menu li{
  display: block;
  padding: 0;
}

div.navbar ul.dropdown-menu li a {
  font-size: 100%;
  color: #2878A2;
  padding: 0;
  font-weight: normal;
}

div.navbar ul.dropdown-menu li a:hover {
  color: #055781;
  text-decoration: underline;
  background-color: transparent;
  background-image: none;
}


div.navbar ul.dropdown-menu li a.btn {
  margin-top: -10x;
}

.navbar .btn-group {
  margin: 0px;
  vertical-align: middle;
  padding: 0;
  padding-left: 4px;
  font-size: 8px;
}

.navbar .btn-group .btn {
  height: 100%;
}

.navbar .btn-group.open .btn.dropdown-toggle {
  background-color: transparent;
  box-shadow: inset 0 0px 0 rgba(255,255,255,.2), 0 0px 0px rgba(0,0,0,.05);
}

li#other-versions {
  position: absolute;
  left: inherit;
  right: inherit;
  top: inherit;
}

#other-versions a.btn.dropdown-toggle {
  margin-left: 0.5em;
  padding: 4px 6px 4px 11px;
}

#other-versions .caret {
  border-left: 5px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid black;
  border-top: 0px;
  margin-right: 5px;
  margin-top: 0px;
  vertical-align: middle;
}

#other-versions .dropdown-menu {
  position: absolute;
  right: -60%;
  top: -805%;
  left: initial;
}

.navbar .btn, .navbar .open>.btn, .navbar .btn:hover{
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  background-image: None;
  border: 0px solid #cccccc;
  box-shadow: inset 0 0px 0 rgba(255,255,255,.2), 0 0px 0px rgba(0,0,0,.05);
}

.navbar .btn:hover .caret{
  color: rgb(220, 220, 220);
  border-top-color: rgb(220, 220, 220);

}

.navbar li.btn-li {
  margin: 0;
  vertical-align: middle;
  padding: 4px 0px 5px 0px;
}

.navbar .btn-group li.bnt-li a {
  padding: 4px 10px 5px 10px;
  vertical-align: middle;
  height: 100%;
}

.navbar .btn .caret{
  margin: 0px;
  color: #fff;
  vertical-align: middle;
  border-top-color: rgb(255, 255, 255);
  padding-bottom: 5px;
}

.navbar .dropdown-menu .divider {
  height: 1px;
  margin-top: 5px;
  background-color: #fff;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}

.navbar ul.dropdown-menu li {
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

.fork-me {
  z-index: 100;
}


@media all and (max-width: 780px) {
  .fork-me {
      display: none;
  }

  .search_form {
    display: none;
  }



  div.content {
    margin-left: 200px;
  }
  .nav-trigger + label:after {
    content: '«';
  }
  label[for="nav-trigger"] {
    margin-left: 200px;
  }

  .nav-trigger:checked + label {
    margin-left: 0px;
  }
  .nav-trigger:checked + label:after {
    content: '»';
  }
  .nav-trigger:checked ~ div.content {
    margin-left: 0px;
  }

  div.container-index {
    margin-left: -215px;
  }

}